@import "../node_modules/bootstrap/scss/bootstrap.scss";

.logo {
  @include rfs(64px, height);
  max-height: 64px;
  min-height: 21px;
  width: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein {
  animation: fadein 2s ease-out forwards;
}

#spinner {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
